<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elzayet.food">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Food">
        <activity
            android:name=".bottombar.CategoryActivity"
            android:exported="true" />
        <activity
            android:name=".bottombar.ProductDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".sidebar.PointsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topbar.notification.NotificationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".topbar.search.SearchActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sidebar.FQAActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sidebar.registration.RegistrationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sidebar.registration.SignupActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sidebar.registration.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sidebar.registration.VerifyOTPActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sidebar.RefellarActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sidebar.WalletActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sidebar.SettingsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>